<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="netMsmqBinding" queueTransferProtocol="Srmp" exactlyOnce="true">
          <readerQuotas maxDepth="64" maxStringContentLength="209715200" maxArrayLength="1638400" maxBytesPerRead="209715200" maxNameTableCharCount="209715200" />
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://192.168.102.188/private/myqueue" binding="netMsmqBinding" bindingConfiguration="netMsmqBinding" contract="MSMQHelper.ILogService" name="msmqserivce"/>
    </client>
  </system.serviceModel>
</configuration>
