<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <!--<binding name="msmqBinding" queueTransferProtocol="Srmp" exactlyOnce="true">
          <readerQuotas maxDepth="64" maxStringContentLength="209715200" maxArrayLength="1638400" maxBytesPerRead="209715200" maxNameTableCharCount="209715200" />
          <security mode="None" />
        </binding>-->
        <binding name="msmqBinding" exactlyOnce="true" maxRetryCycles="3" receiveErrorHandling="Move" retryCycleDelay="00:00:20" receiveRetryCount="2" durable="true">
          <!--Drop Move-->
          <security mode="None"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="MSMQHelper.LogService" >
        <endpoint address="net.msmq://localhost/private/myqueue" binding="netMsmqBinding" bindingConfiguration="msmqBinding" contract="MSMQHelper.ILogService" />
      </service>
      <service name="MSMQHelper.MsgService" >
        <endpoint address="net.msmq://localhost/private/myqueueB" binding="netMsmqBinding" bindingConfiguration="msmqBinding" contract="MSMQHelper.IMsgService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>