<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="netMsmqBinding" queueTransferProtocol="Srmp" exactlyOnce="true">
          <readerQuotas maxDepth="64" maxStringContentLength="209715200" maxArrayLength="1638400" maxBytesPerRead="209715200" maxNameTableCharCount="209715200" />
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://192.168.102.188/private/myqueue" binding="netMsmqBinding" bindingConfiguration="netMsmqBinding" contract="MSMQHelper.ILogService" name="msmqserivce"/>
      <endpoint address="net.msmq://192.168.102.188/private/myqueueB" binding="netMsmqBinding" bindingConfiguration="netMsmqBinding" contract="MSMQHelper.IMsgService" name="msmqserivce"/>
    </client>
  </system.serviceModel>
</configuration>